.wrapper-large {
  font-family: "Nunito";
  font-style: normal;
  width: 100vw;

  margin: auto;
}
.wrapper-large-sl {
  font-family: "Nunito";
  font-style: normal;
  width: 100vw;

  margin: auto;
}
.main-inform-block {
  background: linear-gradient(
    79.58deg,
    rgba(0, 115, 12, 0.81) -39.14%,
    rgba(251, 246, 238, 0) 90.23%
  );
  height: 719px;
}
.inform-wrapper {
  max-width: 1440px;
  margin: auto;
  padding: 133px 840px 0 25px;
}
.inform-1 {
  height: 25px;

  font-weight: 700;
  font-size: 16px;
  text-transform: capitalize;
  color: $darkGrey;
  padding-left: 30px;
  background-image: url(./img/plant-icon-s.svg);
  background-repeat: no-repeat;
  background-position: top -1px left 1px;
  margin-bottom: 40px;
}
.main-img {
  position: absolute;
  top: 173px;
  right: 1px;
}
@media (max-width: 1760px) {
  .main-img {
    img {
      width: 900px;
    }
  }
}
@media (max-width: 1520px) {
  .main-img {
    img {
      width: 700px;
    }
  }
}
.main-title {
  font-weight: 800;
  font-size: 58px;

  color: $darkGrey;

  margin-bottom: 40px;
}
.green-text {
  color: $mainGreen;
}
.inform-2 {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  color: $darkGrey;
  margin-bottom: 40px;
}
.main-btn-box {
  display: flex;

  margin-bottom: 40px;
}
.quate-btn {
  width: 175px;
  height: 50px;
  text-align: center;
  background: $mainGreen;
  border-radius: 5px;
  line-height: 50px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 18px;

    color: #ffffff;
  }
}
.how-it-btn {
  width: 177px;
  height: 50px;
  margin-left: 30px;
  padding-left: 5px;
  padding-right: 30px;
  line-height: 50px;
  text-align: center;
  &:hover {
    opacity: 0.75;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 18px;

    color: $darkGrey;
  }

  background-image: url(./img/arow-right.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: top 18px right 5px;
}
.circle-wrap {
  display: flex;
  margin-bottom: 100px;
}
.circle {
  width: 50px;
  height: 50px;

  background: linear-gradient(72.71deg, #00730c -83.5%, #f9f9f9 93.84%);
  border-radius: 35px;
  font-weight: 700;
  font-size: 15px;
  color: $darkGrey;
  text-align: center;
  line-height: 50px;
}
.circle-box {
  display: flex;
  align-items: center;
  margin-right: 10px;
}
.circle-text {
  margin-left: 10px;
  width: 90px;
  font-weight: 700;
  font-size: 16px;
  color: $darkGrey;
}
/* mob main */
.wrapper-mob {
  font-family: "Nunito";
  font-style: normal;
  display: none;
  padding-bottom: 35px;
  background: linear-gradient(
    39.89deg,
    rgba(0, 115, 12, 0.81) -22.86%,
    rgba(251, 246, 238, 0) 116.18%
  );
}
.mob-inform-wrapper {
  position: relative;
  width: 360px;
  margin: auto;
}
.mob-inform-1 {
  margin-top: 48px;
  height: 25px;
  width: 235px;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
  text-transform: capitalize;
  color: $darkGrey;
  padding-left: 30px;
  background-image: url(./img/plant-icon-s.svg);
  background-repeat: no-repeat;
  background-position: top -1px left 1px;
}
.mob-main-title {
  width: 260px;
  line-height: 38px;
  text-align: left;
  margin-top: 10px;
  font-weight: 800;
  font-size: 28px;

  color: $darkGrey;
}
.mob-inform-2 {
  width: 375px;
  margin: auto;
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  color: $darkGrey;
}
.mob-quate-btn {
  width: 303px;
  height: 44px;
  text-align: center;
  background: $mainGreen;
  border-radius: 5px;
  line-height: 44px;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  &:hover {
    opacity: 0.75;
  }
  a {
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;

    color: #ffffff;
  }
}
.mob-how-it-btn {
  width: 177px;
  height: 50px;
  margin: auto;
  margin-top: 20px;
  padding-right: 30px;
  line-height: 50px;
  text-align: center;
  &:hover {
    opacity: 0.75;
  }
  a {
    text-decoration: none;
    font-weight: 600;
    font-size: 14px;

    color: $mainGreen;
  }

  background-image: url(./img/arow-right-green.svg);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: top 18px right 5px;
}
.oval-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}
.oval-box {
  margin-right: 12px;
  font-weight: 400;
  font-size: 10px;
  color: $darkGrey;
  width: 133px;
  height: 32px;
  text-align: center;
  line-height: 32px;
  background: linear-gradient(180deg, #fff8f1 0%, #cbe5ce 100%);
  border-radius: 32px;
  span {
    font-weight: 700;
    font-size: 12px;
  }
}
.mob-bg {
  position: absolute;
  bottom: -20px;
  left: 1px;
}
@media (max-width: 1250px) {
  .wrapper-large {
    display: none;
  }
  .wrapper-mob {
    display: block;
  }
}
/* servises block */
.wrapper-small {
  font-family: "Nunito";
  font-style: normal;
  max-width: 1410px;
  margin: auto;
  text-align: center;
  padding: 100px 0px 0px 10px;
}
.title-h3 {
  font-weight: 800;
  font-size: 45px;
  line-height: 61px;
}
.text-inform {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 18px;
  color: #676767;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 50px;
}
.card-box {
  display: flex;
  flex-wrap: wrap;
}
.card-wrap {
  width: calc(25% - 20px);
  padding: 60px 43px 60px;
  background: linear-gradient(172.29deg, #ffffff -10.79%, #ffffff 94.04%);
  color: #212529;

  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  border-radius: 10px;
  margin: 10px;
}
.green-card {
  background-image: url(./img/card-icon/BG-green.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
}
.title-h5 {
  font-weight: 700;
  font-size: 24px;
  margin-top: 50px;
  margin-bottom: 10px;
}
.card-text {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
/* servises block mobile */
@media (max-width: 1250px) {
  .card-wrap {
    width: 100%;
    align-items: center;
    padding: 20px;
  }
  .title-h3 {
    font-weight: 700;
    font-size: 28px;
    line-height: 38px;
  }
  .wrapper-small {
    padding-top: 50px;
  }
  .text-inform {
    font-size: 14px;
  }
  .title-h5 {
    margin-top: 0;
    font-size: 16px;
  }
  .card-wrap {
    display: flex;
    justify-content: center;
  }
  .card-icon {
    height: 71px;
  }
  .card-inf-box {
    text-align: left;
    padding-left: 20px;
  }
  .card-text {
    font-size: 14px;
  }
}
/* experience block */
.experience-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
}
.experience-img-block {
  min-width: 693px;
  min-height: 903px;
  position: relative;
}
.green-bg-block {
  position: absolute;
  width: 450px;
  height: 706px;
  background-color: $mainGreen;
  top: 0;
  left: 0;
}
.big-size-img {
  position: absolute;
  z-index: 1;
  top: 36px;
  left: 24px;
}
.small-size-img {
  position: absolute;
  z-index: 2;
  top: 597px;
  left: 237px;
}
.experience-info-block {
  max-width: 690px;
  padding-top: 45px;
  text-align: left;
}
.experience-info-text {
  font-weight: 400;
  font-size: 16px;
  color: #676767;
  margin-top: 30px;
  margin-bottom: 50px;
  p {
    line-height: 28px;
  }
}
.experience-card-block {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.exp-card {
  padding-left: 127px;
  padding-top: 35px;
  width: 45%;

  text-align: left;
  height: 97px;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  color: $darkGrey;
}
.c-mission {
  background-image: url(./img/card-icon/exp-icon1.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 30px;
}
.c-vision {
  background-image: url(./img/card-icon/exp-icon2.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 30px;
}
.c-support {
  background-image: url(./img/card-icon/exp-icon3.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 30px;
}
.c-trust {
  background-image: url(./img/card-icon/exp-icon4.svg);
  background-repeat: no-repeat;
  background-position: top 15px left 30px;
}
.discover-btn {
  width: 190px;
  height: 50px;
  background-color: $mainGreen;
  border-radius: 5px;
  color: #ffffff;
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  text-align: center;
  line-height: 50px;
  margin-top: 50px;

  &:hover {
    opacity: 0.75;
    cursor: pointer;
  }
}
.experience-box {
  margin-bottom: 50px;
}
.experience-img-block-mob {
  display: none;

  margin: auto;
  width: 375px;
  position: relative;
  min-height: 462px;
}
.green-bg-block-mob {
  position: absolute;
  width: 188px;
  height: 293px;
  background-color: $mainGreen;
  top: 0;
  left: 0;
}
.big-size-img-mob {
  position: absolute;
  top: 12px;
  left: 12px;
  z-index: 1;
}
.small-size-img-mob {
  position: absolute;
  top: 300px;
  left: 103px;
  z-index: 2;
}
@media (max-width: 1250px) {
  .experience-box {
    display: block;
  }
  .experience-img-block {
    max-width: 693px;
    margin: auto;
  }
  .experience-info-block {
    margin: auto;
    padding: 20px;
  }
  .discover-btn {
    margin: auto;
    margin-top: 50px;
  }
  .experience-card-block {
    justify-content: space-around;
    gap: 20px;
  }
  .exp-card {
    padding-left: 0;
    padding-top: 60px;
    width: calc(50% - 40px);
    height: 94px;

    text-align: center;
    line-height: 35px;
    font-size: 14px;
  }
  .experience-info-text {
    font-size: 14px;
  }
  .c-mission {
    background-size: 40px;
    background-position-y: top;
    background-position-x: center;
  }
  .c-vision {
    background-size: 40px;
    background-position-y: top;
    background-position-x: center;
  }
  .c-support {
    background-size: 40px;
    background-position-y: top;
    background-position-x: center;
  }
  .c-trust {
    background-size: 40px;
    background-position-y: top;
    background-position-x: center;
  }
}
@media (max-width: 710px) {
  .experience-img-block {
    display: none;
  }
  .experience-img-block-mob {
    display: block;
  }
}
/* choose block */
.choose-wrapper {
  height: 659px;
  background-image: url(./img/bg-darkgreen.svg);
  background-repeat: no-repeat;
  background-size: cover;
}
.choose-box {
  display: flex;
  justify-content: space-between;
}
.choose-box-img-mob {
  display: none;
}
.white-text {
  text-align: left;
  color: #ffffff;
  font-weight: 700;
}
.choose-inf-box {
  width: 656px;
  height: 455px;
  padding-left: 20px;
}
.choose-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 50px;
}
.check {
  width: 30px;
  height: 30px;
  background-color: #ffffff;
  background-image: url(./img/check.svg);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  border-radius: 15px;
}
.choose-card-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 23px;
  column-gap: 40px;
  margin-bottom: 50px;
}
.choose-card {
  display: flex;
  width: 45%;
  p {
    font-weight: 700;
    font-size: 24px;
    color: #ffffff;
  }
  align-items: center;
  gap: 20px;
}
@media (max-width: 1250px) {
  .choose-wrapper {
    display: block;
    height: 750px;
    background-image: url(./img/bg-darkgreen-mob.svg);
  }
  .choose-box {
    display: block;
    position: relative;
  }
  .choose-inf-box {
    width: 100%;
    margin: auto;
  }
  .choose-box-img {
    display: none;
  }
  .choose-text {
    max-width: 600px;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .choose-box-img-mob {
    display: block;
    margin-bottom: 30px;
  }
  .white-text {
    font-weight: 700;
    font-size: 28px;
    text-align: center;
    max-width: 600px;
    margin: auto;
  }
  .check {
    width: 15px;
    height: 15px;

    background-size: 10px;

    border-radius: 7.5px;
  }
  .choose-card {
    width: 40%;
    gap: 5px;
    p {
      font-size: 16px;
    }
  }
  .choose-card-box {
    max-width: 600px;
    margin: auto;
  }
}
@media (max-width: 570px) {
  .choose-wrapper {
    height: 815px;
  }
}
/* working process box */

.proc-title {
  margin-top: 96px;
}
.proc-inform {
  max-width: 1136px;

  font-family: "Nunito";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;

  text-align: center;

  color: #676767;
  margin: auto;
  margin-top: 20px;
}
.proc-card-box {
  margin-top: 50px;
}
.green-bg {
  background: $mainGreen;
}
.proc-card {
  padding: 50px 29px 70px;

  width: calc(25% - 80px);
  height: 408px;

  box-shadow: 1px 3px 20px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  background-image: url(./img/card-icon/plant_group_bg.svg);
  background-repeat: no-repeat;
  background-position: top 113px right 29px;
}
.pr-card-num-img {
  display: flex;
  justify-content: space-between;
}
.pr-card-img {
  width: 70px;
  height: 70px;
}
.pr-card-num {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 800;
  font-size: 78px;
  color: #ffffff;
  width: 47px;
  height: 80px;
}
.pr-card-title {
  font-family: "Nunito";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
  margin-top: 35px;
  text-align: left;
}
.pr-card-iform {
  margin-top: 20px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #ffffff;
}
.color-light-grey {
  color: #e3e3e3;
}
.color-dark-grey {
  color: $darkGrey;
}
.color-black {
  color: black;
}
.proc-card-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pr-ib-inform {
  font-weight: 700;
  font-size: 33px;
  line-height: 45px;
  color: #ffffff;
  width: 448px;
  height: 90px;
  text-align: left;
}
.pr-img-box-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 100px;
  height: 247px;
  background-image: url(./img/hand-holding-small-tree-plantingb.jpg);
  background-position-x: -10px;
}
.pr-img-box {
  display: flex;
  flex-wrap: wrap;
  width: 703px;
  justify-content: space-between;
  align-items: center;
  margin-right: 60px;
}
.pr-btn-call {
  width: 170px;
  height: 50px;
  background-color: #ffffff;
  font-weight: 700;
  font-size: 18px;
  color: $mainGreen;
  line-height: 50px;
  padding-left: 35px;
  background-image: url(./img/phone-btn\(green\).svg);
  background-repeat: no-repeat;
  background-position: top 11px left 27px;
  box-shadow: 1px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
}
.pr-btn-call:hover {
  opacity: 0.75;
  cursor: pointer;
}
@media (max-width: 1250px) {
  .proc-card {
    width: 50%;
  }
  .proc-title {
    font-size: 28px;
  }
  .proc-inform {
    font-size: 14px;
    line-height: 22px;
  }
  .pr-card-num {
    font-size: 45px;
  }
  .pr-card-img {
    width: 50px;
    height: 50px;
  }
  .pr-card-title {
    font-size: 16px;
  }
  .pr-card-iform {
    font-size: 14px;
    line-height: 22px;
  }
  .pr-card-img {
    img {
      width: 50px;
      height: 50px;
    }
  }
  .pr-img-box {
    padding: 20px;
  }
  .pr-ib-inform {
    text-shadow: rgb(104, 104, 104) 1px 1px;
  }
}
@media (max-width: 750px) {
  .pr-img-box {
    justify-content: center;
    margin-right: 0;
    flex-direction: column;
    width: 425px;
  }
  .pr-img-box-wrap {
    justify-content: center;
  }
  .pr-ib-inform {
    font-size: 25px;
    line-height: 30px;
    text-align: center;
    width: 100%;
  }
  .pr-btn-call {
    width: 136px;
    padding-left: 43px;
    background-position: top 11px left 22px;
  }
}
@media (max-width: 570px) {
  .proc-card {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .pr-img-box-wrap {
    background-image: url(./img/card-icon/hand-holding-small-tree-planting\ 2.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
}
/* trained box */
.trained-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-left: 25px;
  padding-right: 25px;
}
.trained-title {
  text-align: left;
  flex: 100%;
}
.trained-inform {
  width: 956px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $darkGrey;
  text-align: left;
}
.trained-btn {
  width: 190px;
  height: 50px;
  background-color: $mainGreen;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
}
.trained-btn:hover {
  opacity: 0.75;
  cursor: pointer;
}
.trained-card {
  position: relative;
  width: 330px;
  height: 408px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.trained-card-box {
  display: flex;
  flex-wrap: wrap;
  flex: 100%;
  justify-content: space-between;
  margin-top: 50px;
}
.trained-card-bg1 {
  background-image: url(./img/trained_bg1.svg);
}
.trained-card-bg2 {
  background-image: url(./img/trained_bg2.svg);
}
.trained-card-bg3 {
  background-image: url(./img/trained_bg3.svg);
}
.trained-card-bg4 {
  background-image: url(./img/trained_bg4.svg);
}
.trained-card-open {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    6.68deg,
    #00730c 4.95%,
    rgba(251, 246, 238, 0) 264.79%
  );
  border-radius: 10px;
}
.trained-card-close {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 330px;
  height: 90px;
  background: linear-gradient(
    6.68deg,
    #00730c 4.95%,
    rgba(251, 246, 238, 0) 264.79%
  );
  border-radius: 10px;
}
.trained-card-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #ffffff;
}
.trained-card-prof {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #ffffff;
}

.social-box {
  display: flex;
  justify-content: space-between;
  width: 250px;
  margin: auto;
  margin-top: 20px;
}
.soc-google {
  background-image: url(./img/card-icon/google_icon.svg);
  width: 30px;
  height: 30px;
}
.soc-fb {
  background-image: url(./img/card-icon/facebook_icon.svg);
  width: 30px;
  height: 30px;
}
.soc-tw {
  background-image: url(./img/card-icon/twitter_icon.svg);
  width: 30px;
  height: 30px;
}
.soc-pint {
  background-image: url(./img/card-icon/pinterest_icon.svg);
  width: 30px;
  height: 30px;
}
.soc-in {
  background-image: url(./img/card-icon/linkedin_icon.svg);
  width: 30px;
  height: 30px;
}
@media (max-width: 1390px) {
  .trained-card-box {
    justify-content: space-around;
  }
}
@media (max-width: 1250px) {
  .trained-wrap {
    justify-content: center;
  }
  .trained-title {
    text-align: center;
  }
  .trained-inform {
    text-align: center;
    margin-bottom: 20px;
  }
}
@media (max-width: 750px) {
  .trained-title {
    font-size: 28px;
  }
  .trained-inform {
    font-size: 14px;
    line-height: 20px;
  }

  .trained-btn {
    width: 167px;
    height: 40px;

    font-weight: 400;
    font-size: 16px;

    line-height: 40px;
  }
}
/* reviews slider */
.reviews-wrap {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
}
.reviews-card {
  width: 690px;
  height: 340px;
  display: flex;
  box-shadow: 2px 11px 30px rgba(51, 51, 51, 0.08);
  background-color: #ffffff;
  background-image: url(./img/card-icon/rectangle_bg.svg);
  background-position: top 127px left 25px;
  background-repeat: no-repeat;
  padding: 32px 32px 33px 25px;
  margin: auto;
  margin-top: 50px;
}
.review-text {
  width: 956px;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  text-align: left;
  color: #676767;
  margin-top: 30px;
}
.review-title {
  text-align: left;
}
.rv-card-info {
  margin-left: 31px;
}
.rv-info-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: $darkGrey;
  margin-top: 24px;

  text-align: left;
}
.rv-personal-name {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #212529;
}
.rv-personal-prof {
  font-weight: 400;
  font-size: 14px;
  line-height: 25px;
  color: $darkGrey;
}
.star {
  width: 25px;
  height: 25px;
  background-image: url(./img/card-icon/star_icon.svg);
}
.rv-personal-rating {
  display: flex;
  align-items: center;
  width: 130px;
  justify-content: space-around;
}
.rv-personal {
  text-align: left;
}
.rv-info-personal {
  display: flex;
  justify-content: space-between;
  margin-top: 27px;
}

.bg-light-blue {
  position: relative;
  background-color: #e4f3e8;
  height: 400px;
  margin-top: 100px;
  margin-bottom: 360px;
}
/* slider */
.slick-prev {
  top: -35px;

  left: 1082px;
  width: 50px;
  height: 50px;
}
.slick-next {
  top: -35px;

  left: 1158px;
  width: 50px;
  height: 50px;
}
.slick-next:before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./img/card-icon/slider_right.svg);
  background-position-y: -1px;
  background-position-x: -1px;
}
.slick-next:hover:before {
  background-image: url(./img/card-icon/slider_hover_right.svg);
}
.slick-prev:before {
  display: block;
  content: "";
  width: 50px;
  height: 50px;
  background-image: url(./img/card-icon/slider_left.svg);
}
.slick-prev:hover:before {
  background-image: url(./img/card-icon/slider_hover_left.svg);
}
@media (max-width: 1250px) {
  .review-title {
    text-align: center;
  }
  .review-text {
    width: 80%;

    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: auto;
    margin-bottom: 100px;
    margin-top: 20px;
  }
  .slick-prev {
    left: 41%;
  }
  .slick-next {
    left: 50%;
  }
}
@media (max-width: 750px) {
  .reviews-card {
    width: 70%;
    height: 550px;
    display: block;
    background-image: none;
  }
  .slick-prev {
    left: 39%;
  }
  .slick-next {
    left: 52%;
  }
  .rv-card-img {
    img {
      width: 135px;
    }
  }
  .rv-info-text {
    font-size: 14px;
    line-height: 22px;
  }
  .bg-light-blue {
    height: 600px;
  }
}
